extend layout

block content
    div.card-container-rps
        a-rps.card-rps(href="/turn?choice=rock")
            img-rps(src="/images/rock-icon.png")
        a-rps.card-rps(href="/turn?choice=paper")
            img-rps(src="/images/paper-icon.png")
        a-rps.card-rps(href="/turn?choice=scissors")
            img-rps(src="/images/scissors-icon.png")